body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {

    justify-content: space-between;
    align-items: center;
    position: fixed;
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;

    .logo_section {
        position: absolute;
        left: 50%;
        transform: calc(-50%);
        

    }

    .cate_menu {
        display: flex;
        gap: 20px;

    }

    .my_menu {
        display: flex;
        gap: 20px;
    }


}
