@media (max-width: 700px) {
   .header{
    left:15px;
    top:11px;
    right:15px;
    .logo_section{
        img{
            width:66px;
        }
    }
    .main_menu{
        display:none;
    }
    .mobile_menu{
        font-size:15px;
        font-weight:500;
        display:block;
    }
   }
   .contents_wrap{
     .main_copy{
        padding-top:103px;
        padding-left:15px;
     }
     .business_items{
        margin-top:33px;
       
        padding-left: 15px;
        padding-right:15px;
        .bs_item{
             font-size:15px;
             gap:18px;
        }
     }
     .back_img{
        .back_copy{
            padding-left:15px;
            padding-top:15px;
            font-size:15px;
            width:100%;
            box-sizing: border-box;
        }
     }
   }
}