body {
    font-family: "Inter", "Pretendard Variable", "Pretendard", sans-serif;
    margin: 0px;
    padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}



.header {
    position: fixed;
    left: 30px;
    right: 30px;
    top: 16px;
    display: flex;
    justify-content: space-between;

    .main_menu {
        display: flex;
        gap: 25px;
        font-size: 22px;
        font-weight: 500;

    }
    .mobile_menu {
        display: none;
    }
}

.contents_wrap {
    .main_copy {
        padding-top: 170px;
        padding-left: 30px;
        font-size: 5vw;
        font-weight: 500;
        line-height: 4.5vw;
        
    }

    .business_items {
        margin-top: 124px;
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;

        .bs_item {
            display: flex;
            gap: 97px;
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            word-break: break-all;
        }

    }

    .back_img {
        background-image: url('./img/back_img.jpg');
        background-size: cover;
        margin-top:16px;
        height:1000px;

        .back_copy {
            width:510px;
            padding-left:30px;
            padding-top:30px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            word-break: keep-all;
        }
    }
}