@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 프로필 파트 숨김 상태 */
.hidden_on_load {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

/* 프로필 파트 등장 시 상태 */
.show_on_scroll {
  opacity: 1;
  transform: translateY(0);
}

.hidden_on_load_L {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show_on_scroll_L {
  opacity: 1;
  transform: translateX(0);
}

.header {
  justify-content: center;
}
.header .on_resume {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 500px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 450px;
  box-sizing: border-box;
  animation: slideFade_In 1s ease-out forwards;
}
.header .on_resume .word {
  line-height: 500px;
  letter-spacing: -1px;
}
.header .on_resume .semicolon_fix {
  font-size: 478px;
  line-height: 380px;
}
.header .resume_sub_txt {
  font-family: "Pretendard Variable";
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 57px;
  padding-right: 50px;
  margin-top: -80px;
  animation: slideFade_In 1s ease-out forwards;
}
@keyframes slideFade_In {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.txt_wrap .header_main_txt {
  font-family: "Pretendard Variable", sans-serif;
  letter-spacing: 0.2px;
  font-size: 30px;
  padding-left: 62vw;
  padding-top: 200px;
  font-weight: 400;
  line-height: 50px;
  box-sizing: border-box;
  animation: slideFade_In_2 1s ease-out forwards;
}
.txt_wrap .header_main_txt .tight_main_txt {
  margin-top: 25px;
  line-height: 36px;
  word-break: break-all;
}
@keyframes slideFade_In_2 {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.profile_wrap {
  display: flex;
  margin-top: 288px;
  margin-bottom: 240px;
  box-sizing: border-box;
}
.profile_wrap .profile_part {
  padding-left: 40px;
  padding-bottom: 100px;
  width: 30vw;
  flex: 1;
  box-sizing: border-box;
}
.profile_wrap .profile_part .copy_recommend {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #909090;
}
.profile_wrap .profile_part .name_birth {
  padding-bottom: 46px;
}
.profile_wrap .profile_part .name_birth .name {
  padding-bottom: 46px;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.profile_wrap .profile_part .name_birth .resume_button {
  text-decoration: none;
  color: #606060;
  font-family: "Pretendard Variable";
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}
.profile_wrap .profile_part .name_birth .resume_button:hover {
  background-color: #111;
  color: #fff;
}
.profile_wrap .profile_part .email_phone {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  box-sizing: border-box;
}
.profile_wrap .profile_part .email_phone .my_email {
  padding-bottom: 16px;
  cursor: pointer;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}
.profile_wrap .profile_part .email_phone .my_email:hover {
  color: #606060;
  text-decoration: underline;
}
.profile_wrap .profile_part .email_phone .my_email .copied_e_msg {
  display: none;
  background-color: #e8e8e8;
  font-size: 14px;
  color: #111111;
  padding: 6px 10px;
  border-radius: 12px;
  margin-left: 10px;
}
.profile_wrap .profile_part .email_phone .my_phone {
  cursor: pointer;
  transition: color 0.2s text-decoration 0.2s;
}
.profile_wrap .profile_part .email_phone .my_phone:hover {
  color: #606060;
  text-decoration: underline;
}
.profile_wrap .profile_part .email_phone .my_phone .copied_p_msg {
  display: none;
  background-color: #e8e8e8;
  font-size: 14px;
  color: #111111;
  padding: 6px 10px;
  border-radius: 12px;
  margin-left: 10px;
}
.profile_wrap .activity_career {
  width: 40vw;
  flex: 1;
  box-sizing: border-box;
}
.profile_wrap .activity_career .activity_section {
  padding-bottom: 87px;
}
.profile_wrap .activity_career .activity_section .activity_head {
  font-size: 25px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 700;
}
.profile_wrap .activity_career .activity_section .activity_contents {
  display: flex;
  gap: 0px;
  padding-top: 57px;
  box-sizing: border-box;
}
.profile_wrap .activity_career .activity_section .activity_contents .activity_sum {
  font-size: 17px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  color: #606060;
  min-width: 400px;
}
.profile_wrap .activity_career .activity_section .activity_contents .activity_year {
  font-size: 17px;
  letter-spacing: -1px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  color: #bababa;
}
.profile_wrap .sub_career {
  width: 30vw;
  flex: 1;
  box-sizing: border-box;
}
.profile_wrap .sub_career .activity_section {
  padding-bottom: 87px;
}
.profile_wrap .sub_career .activity_section .activity_head {
  font-size: 25px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 700;
}
.profile_wrap .sub_career .activity_section .activity_contents {
  display: flex;
  gap: 0px;
  padding-top: 57px;
}
.profile_wrap .sub_career .activity_section .activity_contents .activity_sum {
  font-size: 17px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  color: #606060;
  min-width: 400px;
}
.profile_wrap .sub_career .activity_section .activity_contents .activity_year {
  font-size: 17px;
  letter-spacing: -1px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  color: #bababa;
}

.portfolio_wrap .portfolio_part {
  padding-left: 40px;
}
.portfolio_wrap .portfolio_part .portfolio_head {
  font-size: 58px;
  letter-spacing: -2px;
  font-family: "Roboto";
  font-weight: 700;
}
.portfolio_wrap .portfolio_part .head_sum {
  padding-top: 26px;
  font-size: 24px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 300;
  color: #606060;
}
.portfolio_wrap .portfolio_contents {
  padding-top: 270px;
}
.portfolio_wrap .portfolio_contents .contents_card {
  display: flex;
  margin-bottom: 166px;
  justify-content: space-between;
  padding: 0px 40px;
  box-sizing: border-box;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap {
  display: flex;
  justify-content: space-between;
  gap: 0;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .content_num {
  font-size: 45px;
  letter-spacing: -2px;
  font-family: "Pretendard Variable";
  font-weight: 700;
  color: #111111;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum {
  margin-left: 157px;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum .content_year {
  font-size: 20px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 450;
  color: #bababa;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum .content_name {
  margin-top: 95px;
  font-size: 45px;
  letter-spacing: -2px;
  font-family: "Pretendard Variable";
  font-weight: 700;
  color: #111111;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum .content_sum {
  margin-top: 32px;
  width: 595px;
  font-size: 20px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  color: #111111;
  word-break: keep-all;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum .view_button {
  margin-top: 56px;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum .view_button .open_modal {
  width: 137px;
  height: 48px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #111;
  color: #111;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.portfolio_wrap .portfolio_contents .contents_card .contents_card_wrap .main_sum .view_button .open_modal:hover {
  background-color: #111;
  color: #fff;
}
.portfolio_wrap .portfolio_contents .contents_card .content_thumb {
  width: 30%;
  border-radius: 24px;
  overflow: hidden;
}
.portfolio_wrap .portfolio_contents .contents_card .content_thumb img {
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.08);
  display: block;
}

.contact_part {
  margin-top: 200px;
  margin-bottom: 130px;
}
.contact_part .contact_notice {
  margin-left: 40px;
}
.contact_part .contact_notice .contact_head {
  font-size: 58px;
  letter-spacing: -2px;
  font-family: "Roboto";
  font-weight: 700;
}
.contact_part .contact_notice .contact_sum {
  padding-top: 30px;
  font-size: 24px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 300;
  color: #111;
}
.contact_part .contact_info {
  margin-top: 180px;
}
.contact_part .contact_info .info_name {
  font-size: 24px;
  letter-spacing: 0px;
  font-family: "Pretendard Variable";
  font-weight: 700;
  color: #111;
  padding-left: 1590px;
}
.contact_part .contact_info .email_phone_c {
  padding-left: 1220px;
  display: flex;
  gap: 70px;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 19px;
  letter-spacing: 1.2px;
  font-family: "Pretendard Variable";
  font-weight: 400;
}
.contact_part .contact_info .email_phone_c .my_email_C {
  padding-bottom: 16px;
  cursor: pointer;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}
.contact_part .contact_info .email_phone_c .my_email_C:hover {
  color: #606060;
  text-decoration: underline;
}
.contact_part .contact_info .email_phone_c .my_email_C .copied_e_msg_C {
  display: none;
  background-color: #e8e8e8;
  font-size: 14px;
  color: #111111;
  padding: 6px 10px;
  border-radius: 12px;
  margin-left: 10px;
}
.contact_part .contact_info .email_phone_c .my_phone_C {
  cursor: pointer;
  transition: color 0.2s text-decoration 0.2s;
}
.contact_part .contact_info .email_phone_c .my_phone_C:hover {
  color: #606060;
  text-decoration: underline;
}
.contact_part .contact_info .email_phone_c .my_phone_C .copied_p_msg_C {
  display: none;
  background-color: #e8e8e8;
  font-size: 14px;
  color: #111111;
  padding: 6px 10px;
  border-radius: 12px;
  margin-left: 10px;
}
.contact_part .contact_info .copy_recommend {
  padding-left: 1520px;
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #909090;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.8);
}
.modal .modal_content {
  position: relative;
  margin: 10% auto;
  padding-top: 50px;
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 1000px;
  border-radius: 8px;
  text-align: center;
}
.modal .modal_content .close_modal {
  position: absolute;
  top: 20px;
  right: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}
.modal .modal_content .slider .prev_btn,
.modal .modal_content .slider .next_btn {
  font-family: "Pretendard Variable";
  font-weight: 100;
  position: absolute;
  top: 50%;
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}
.modal .modal_content .slider .prev_btn {
  left: 30px;
}
.modal .modal_content .slider .next_btn {
  right: 30px;
}
.modal .modal_content .slider img {
  width: 100%;
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal .modal_content_scroll {
  position: relative;
  margin: 4% auto;
  padding-top: 50px;
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 1000px;
  border-radius: 8px;
  text-align: center;
  /* 세로 스크롤용 추가 */
  max-height: 80vh;
  /* 화면 높이의 80%까지 높이 제한 */
  overflow-y: auto;
}
.modal .modal_content_scroll .close_modal {
  position: absolute;
  top: 20px;
  right: 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}
.modal .modal_content_scroll .scroll_container img {
  width: 100%;
}/*# sourceMappingURL=resume.css.map */