body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    // margin padding 0을 헤더에 전체적으로 주면 안되나? 

    mix-blend-mode: difference;

    .logo {
        position: fixed;
        margin: 0;
        padding: 0;
        top: 13px;
        left: 30px;

    }
    img {
        width: 19px;
        height: 19px;
    }

    .main_menu {
        position: fixed;
        margin: 0;
        padding: 0;
        top: 13px;
        right: 30px;
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;

    }
        // ul,li와 li 은 합쳐도 무관. 
    li {
        // 메인 메뉴 클래스에 인라인 블록을 넣으면 적용이 안됨. -> 메인 메뉴는 박스니까? 

        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #ffffff;
    }
}

.main {
    // width:100%;
    height:100vh;
    // 왜 높이와 너비를 설정하지 않으면, 이미지가 헤더 위 부분, 아무것도 설정하지 않은 부분만 보일까? 
    background: url("../제 3강/back_img.jpg");
    background-size: cover;
    text-align: center;
    font-size: 25vw;
    line-height: 100vh;
    color: #ffffff;
    font-weight: 500;
}