@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    background: url(./back_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    margin: 0px;
    padding: 0px;
    // position: relative;

    .logo {
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 13px;
        left: 30px;
       
        
    }

    .nav {
        li {
            // 이건 태그니까 .이 필요하지 않음 
            display: inline-block;
            color: aliceblue;
            mix-blend-mode: difference;
        }

        list-style-type: none;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 20px;
    }

   
}   
.main_text {
    font-size: 50vw;
    color: azure;
    text-align: center;
    line-height: 100vh;
    letter-spacing: -0.003em;
}