body {
    font-family: "Inter", "Pretendard Variable", Pretendard,sans-serif;
    margin: 0px;
    padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 30px;
    right: 30px;
    top: 16px;
    box-sizing: border-box;

    .main_menu {
        display: flex;
        gap: 20px;
    }

    .mobile_menu {
        display: none;
    }
}

// 헤더 끝 

.contents_wrap {

    .main_copy {
        font-size: 4vw;
        font-weight: 500;
        line-height: 3.5vw;
        padding-top: 170px;
        padding-left: 30px;
    }

    .business_items {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        justify-content:space-between;
        padding-top: 5vw;
        padding-left: 30px;
        padding-right: 20px;

        .bs_item {
            display: flex;
            gap: 97px;
            padding-bottom: 30px;
        }
    }

    .back_img{
        background-image: url("./back_img.jpg");
        background-size: cover;
        height: 100vw;
        background-position: center;
        

        .back_copy {
            display: block;
            width: 510px;
            padding-left: 30px;
            padding-top: 30px;
            word-break: keep-all;
            color: #ffffff;
        }

    }
}