* {
    margin: 0;
    padding: 0;
}

.header {

    display: flex;
    background-color: #FEFAF5;
    padding: 17px;
    height: 50px;
    justify-content: space-between;
    // 스페이스 비트윈 안하면 옆으로 붙음. 
    align-items: center;
    // 이거 안하면 위로 조금 올라감 
    // position: relative;
    // 포지션을 지정해야, 탑 레프트 트랜스폼으로 위치 설정 가능함 
    position:fixed;
    width: 100%;
    // 포지션 픽스해서, 가로값을 모르기 때문에 왼쪽으로 뭉쳤었던 거임. 
    // 너비를 명시하지 않으면 자식 콘텐츠 만큼의 크기를 가짐. 그리고 포지션 픽스는 기본적으로 탑 오토 레프트 오토의 성질.
    // 그리고 포지션 넣으면 레이어 분리되기 때문에, 제트 인덱스도 넣기 
    z-index: 10;
    box-sizing: border-box;
    // 원본 디자인에서 헤더 높이 50px, 그런데 패딩 값 때문에 더 커짐 그래서 보더 박스해줘야 함.
    border-bottom: 1px solid #111111;


    .logo {


        background: url("./logo.svg");
        height: 17.55px;
        width: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        
    }

    .main_nav {
        display: flex;
        gap:20px;
        font-size: 16px;
        font-family: sans-serif;


    }

    .sub_nav {
        display: flex;
        gap: 20px;
        font-size: 16px;
        font-family: sans-serif;

    }

}

// 헤더 끝 / 메인 이미지 시작 
.main_items{
    display:flex;
    flex-wrap: wrap;
    .main_item{
        width:50%;
        border-right:1px solid black;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        position: relative;
        .main_img{
            img{
                width:100%;
            }
        }
        .main_info{
            position: absolute;
            left:80px;
            top:100px;
        }
    }
}


// p는 클래스가 아니니까 밖에다 써야 함. 

