* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // 박스 사이징을 해줘야 헤더가 안 잘림. 
    // 헤더에 하이트하고 패딩 값이 동시에 들어가 있기 때문임 
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #111111;
    width: 100%;
    height: 50px;
    padding: 17px;
    position: relative;
    background-color: #FEFAF5;

    .logo {
        // display: flex;
      
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // 너비 몰라도 가운데 정렬 가능 


        img {
            height: 17px;
        }


    }

    .main_nav {
        display: flex;
        gap: 20px;

        .nav_Face {}

        .nav_HB {}

        .nav_KO {}

        .nav_ECT {}

    }

    .sub_nav {
        display: flex;
        gap: 20px;
        // 디스플레이 플렉스를 해야 갭이 적용 됨


        .nav_Cart {}

        .nav_Order {}
    }
}

.main_imgs {

    display: flex;
    
    // flex-wrap: wrap; 이거 하면 세로 정렬 됨 

    .main_img1 {
        position: relative;
        background: url("./image_4.png");
        width: 50vw;
        height: 790px;
        background-size: cover;
        border-right: 1px solid #111111;
        border-bottom: 1px solid #111111;
    
    }
    
    .main_img2 {
        position: relative;
        background: url("./image_4.png");
        width: 50vw;
        height: 790px;
        background-size: cover;
        // border-right: 1px solid #111111;
        border-bottom: 1px solid #111111;
    
    }

   
}

.main_imgs2 {

    display: flex;
    // flex-wrap: wrap; 이건 세로 정렬 됨 

    .main_img3 {
        position: relative;
        background: url("./image_4.png");
        width: 50vw;
        height: 790px;
        background-size: cover;
        border-right: 1px solid #111111;
        border-bottom: 1px solid #111111;
    
    }

    .main_img4 {
        position: relative;
        background: url("./image_4.png");
        width: 50vw;
        height: 790px;
        background-size: cover;
        // border-right: 1px solid #111111;
        border-bottom: 1px solid #111111;
    
    }
}
p {
    position: absolute;
    top: 100px;
    left: 80px;

}


